body {
    font-family:UbuntuRegular, arial;
}

h1 {
    font-family:UbuntuBold;
}

.timeline {
    display:table-cell;
    position:relative;
    width:800px;
    height:200px;
    border:thin black solid;
    overflow:visible;
    padding-bottom:13px;
    text-align:center;
}

#timeline-1, #timeline-2 {
    vertical-align:bottom;
}

.lib-select {

}

.vertical-box {
/*    float:left;*/
    display:inline-block;
    position:relative;
    border:black solid 0;
}

#timeline-1 .vertical-box {
    background:green;
}

#timeline-2 .vertical-box {
    background:blue;
}

.axis-label {
    position:absolute;
    bottom:0px;
    font-size:.8em;
    margin:2px;
}

.hor-axis-label {
    bottom:0px;
}

.timeline-title {
    text-align:right;
    margin:3px;
    font-family:UbuntuBold;
}

#controls {
    position:relative;
    text-align:center;
    padding:10px 10px 0px 10px;
}

    #controls button {
        padding:2px 3px;
        min-width:20px;
        margin:3px;
    }

    #controls .ui-widget {
        font-size:.85em;
        font-family:UbuntuBold, arial;
    }

    .ui-menu-item {
        font-family:UbuntuLight, arial;
        font-size:.85em;
    }

    #year-control, #month-control {
        white-space:nowrap;
        display:inline-block;
    }

    #year-select-button {
        position:relative;
    }

    #month-control {
        display:inline;
        padding-left:25px;
    }

/* ROLL COMPARE */

#roll-compare {
    border:green solid 0;
    min-width:500px;
    max-width:800px;

}
    #roll-compare #controls{
        border:blue solid 0;
        text-align:center;
        padding-bottom:10px;
    }

.rc-table {
    background:gray;
    border-collapse:collapse;
    width:100%;
}
   .rc-table th, .rc-table td {
        background:white;
        border:black solid thin;
        padding:3px 5px;
        font-size:.85em;
    }
   .rc-table th {
        background:gray;
        color:white;
    }
   .rc-table td.right {
        text-align:right;
    }
   .rc-table td.center {
        text-align:center;
    }
   .rc-table td.int {
        text-align:right;
        padding-right:10px;
    }

   .rc-table tr.totals td {
        font-weight:bold;
        font-size:1em;
    }

    .rc-table tr[id]:hover td {
        background:lightyellow;
        cursor:pointer;
    }

}