body {
    min-width:1000px;
    font-family:UbuntuRegular;
    font-size:.85em;
}

.ui-widget {
    font-size:1.0em;
}

#card {
    position:relative;
    /*top:100px;*/
    left:100px;
	background:white;
	border:black solid 1px;
	border-radius:10px;
	overflow:hidden;
	z-index:0;
    width:800px;
    height:500px;
    text-align:left;
}

.card-layer {
	position:absolute;
    top:0px;
    left:0px;
	width:800px;
	height:500px;
	text-align:left;
}

#burns-layer {
    position:absolute;
    background-color:white;
    width:800px;
    height:500px;
    z-index:5;
}



.burns-wrap {
    border:green 2px solid;
    opacity:.5;
    position:absolute;
    padding:1px;
    margin:0;
    height:auto;
    width:auto;
    z-index:1;
}

.burns-wrap.current {
    border-color:red;
    opacity:1.0;
    z-index:3;
}

.burns-wrap button {
    padding:2px 3px;
    min-width:20px;
    position:absolute;
}

.burns-wrap .image-closer {
    top:5px;
    right:5px;
}

.burns-wrap .image-se {
    bottom:0px;
    right:0px;
    height:20px,
    width:20px,
    text-align:center;
    background:transparent;
    cursor:pointer;
    opacity:.5;
}

/*.burns-image.current {
    border-color:pink;
}*/

.burns-image {
    position:relative;
    border:thin solid transparent;
    height:100%;
    width:100%;
}

#top-controls {
    position:relative;
    /*top:20px;*/
    left:100px;
    width:800px;
    border:0 red solid;
    text-align:center;
}

#controls input {
    font-size:1.0em;
    /* position:relative;
    top:5px; */
}

#img-control {
    float:left;
    margin:0px;
}

.control-group {
    text-align:center;
    display:inline-block;
    border:green solid 0;
    margin: 0 20px;
}

.control-group .ui-widget {
    font-size:1em;
}

.control-group button {
    padding:3px 5px;
    min-width:25px;
}

.control-label {
    text_align:center;
    display:block;
}

#data-control {
    float:right;
    height:100%;
    margin:0;
}

#bottom-controls {
    position:relative;
    /*top:620px;*/
    top:10px;
    left:100px;
    width:800px;
    text-align:center;
}

#bottom-controls .interior {
    margin:0 20px
}

#burns-tabs {
    position:relative;
    /*top:670px;*/
    top:20px;
    left:100px;
    width:800px;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding:3px 15px;
}

#catalog {
    position:relative;
    /*top:670px;*/
/*    left:100px;
    width:800px;*/

    height:110px;
    border:black solid thin;
    overflow-x:scroll;
    overflow-y:hidden;
}

ul#catalog-items {
    list-type-style:none;
    margin:0;
    padding:0;
    /* width:5000px; */
    text-align:left;
    white-space:nowrap;
}

#catalog-items li {
    display:inline-block;
    text-align:center;
    padding:1px;
    margin:0;
    height:79px;
}

#catalog-items li.current {
    border:red solid 2px;
}

#catalog-items img {
    border:2px grey solid;
}

#catalog-items img:hover {
    border-color:orange;
    cursor:pointer;
}


